@{
    ViewData["Title"] = "Home Page";
}

<div class="full">
    <h1>ReadyToWork</h1>

    <div style="text-align: center">
        <div class="col-md-12">
            <form class="input-group-lg">
                <input type="text" class="form-control" />

                <div class="input-group-btn">
                    <input type="submit" class="btn btn-search btn-lg" />
                </div>

            </form>
        </div>
         
    </div>
    <div></div>
    

    @*<form class="navbar-form search-form" role="search">
        <div class="input-group">
            <div class="form-group-lg">
                <input type="text" class="form-control" style="width:220px" placeholder="By eller postnummer" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-search btn-lg" style="width:70px" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </form>*@
</div>
<div class="after-full"> 
    <div class="container">
        <div class="col-md-6 col-xs-6 col-sm-6">
            <p>Er du igang med at blive håndværker eller er du færdiguddannet?</p>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <button class="btn btn-lg pull-right"><b>Opret en bruger</b></button>
        </div>
    </div>
</div>
<div class="info-container">
    <div class="container">
        <div class="row" style="margin-bottom: 100px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1>Hvorfor ansætte en <b>lærling?</b></h1>
            </div>


            <div class="col-md-4 text-center col-xs-12 col-sm-12">
                <div class="numberCircle">1</div>
                <p>Der er penge at spare når du ansætter en lærling til at udføre et stykke arbejde eller hjælpe dig med et byggeprojekt.</p>
            </div>

            <div class="col-md-4 text-center col-xs-12 col-sm-12">
                <div class="numberCircle">2</div>
                <p>Du vælger selv hvem du vil hyrer og kan derfor finde den bedst egnede lærling til netop din opgave.  </p>
            </div>

            <div class="col-md-4 text-center col-xs-12 col-sm-12">
                <div class="numberCircle">3</div>
                <p>En lærling har kvalifikationerne til at udføre et stykke arbejde indenfor deres felt og du hyrer dermed én med erfaringer, evner og egenskaber.  </p>
            </div>


            <div class="col-md-4 text-center col-xs-12 col-sm-12">
                <div class="numberCircle">4</div>
                <p>Du vælger selv prisen for det stykke arbejde du skal have udført og undgår dermed en dyr håndværker regning.</p>
            </div>

            <div class="col-md-4 text-center col-xs-12 col-sm-12">
                <div class="numberCircle">5</div>
                <p>Du kan hyrer en lærling på baggrund af personens daglige arbejdsopgaver og får dermed rutineret håndværker.  </p>
            </div>

            <div class="col-md-4 text-center col-xs-12 col-sm-12">
                <div class="numberCircle">6</div>
                <p>Selv ved små projekter eller arbejdsopgaver er det rart at få hjælp af en faglært person. Intet projekt er for småt.</p>
            </div>
        </div>       
    </div>
</div>

<div class="aboutus-container">
    <div class="container">
        <div class="row">
            <h1>Idéen bag <b>ReadyToWork</b></h1>
        </div>
    </div>
</div>


@*<div class="container">
        <div class="index-container-first">
            <div style="">
                <h1 style="font-size: 43px;" class="text-center"><strong>ReadyToWork</strong></h1>
                <h3 class="text-center">Find en dygtig håndværker til dit byggeprojekt</h3>
                <div style="padding-top:20px" class="col-md-12">
                    <form class="navbar-form search-form" role="search">
                        <div class="input-group">
                            <div class="form-group-lg">
                                <input type="text" class="form-control" style="width:220px" placeholder="Postnummer eller by" name="q">
                                <select class="form-control" style="width:220px" name="q">
                                    <option value="" hidden>Håndværker fag</option>
                                </select>
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-lg" style="width:70px" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="index-container-second" style="background-color: #eff0f1">
        <div class="container">
            <div>
                <h1 class="text-center">Hvad er ReadyToWork?</h1>
                <br />
                <h4 class="text-center">Det er en mødested for håndværkere og personer med byggeprojekter.</h4>
                <h4 class="text-center">Hvis du er igang med en håndværker uddannelse eller er færdigudlært kan du blive arbejder.</h4>
                <h4 class="text-center">Mangler du en håndværker kan du oprette et job og vælge den bedste og/eller billigste håndværker.</h4>
                <h4 class="text-center">Du har også mulighed for at sende et jobtilbud direkte til den håndværker du ønsker at hyre til din opgave.</h4>
                <br />
                <button class="btn btn-success btn-lg center-block">Opret en bruger</button>
            </div>

        </div>
    </div>
    <div class="index-container-second">
        <div class="container">
            <div>
                <h1 class="text-center">Hvilke opgaver kan jeg få løst?</h1>
                <br />
                <br />
                <br />
                <div class="col-md-2">
                    <p><b>Mekaniker:</b></p>
                    <p>- Alle mekaniker opgaver kan løses</p>
                </div>
                <div class="col-md-2">
                    <p><b>VVS:</b></p>
                    <p>- Alle mekaniker opgaver kan løses</p>
                </div>
                <div class="col-md-2">
                    <p><b>Elektriker:</b></p>
                    <p>- Alle mekaniker opgaver kan løses</p>
                </div>
                <div class="col-md-2">
                    <p><b>Tømre:</b></p>
                    <p>- Alle mekaniker opgaver kan løses</p>
                </div>
                <div class="col-md-2">
                    <p><b>Murer:</b></p>
                    <p>- Alle mekaniker opgaver kan løses</p>
                </div>
                <div class="col-md-2">
                    <p><b>Maler:</b></p>
                    <p>- Alle mekaniker opgaver kan løses</p>
                </div>

            </div>
        </div>

    </div>
    <div class="index-container-second" style="background-color: lightgrey ">
        <div class="container">
            <div>
                <h1 class="text-center">Hvilke opgaver kan jeg <ins>ikke</ins> få løst?</h1>

                <div class="col-md-4">

                </div>

            </div>
        </div>

    </div>*@
